@import '../../sass/Constants.scss';

.board {
  height: 100%;
  max-height: max-content;
  background-color: $color-purple-06;

  .wrapper {
    align-items: flex-start;
    gap: $base;
    height: 100%;
    padding-top: $base * 2;
  }
}

.board__wrapper {
  column-gap: $base * 2;
  height: inherit;
  overflow-x: auto;
  overflow-y: hidden;
}

.board__columns {
  display: flex;
  align-items: flex-start;
  column-gap: $base * 3;
  height: 100%;
}

.board__column::-webkit-scrollbar,
.board__wrapper::-webkit-scrollbar {
  width: $base;
}

.board__column::-webkit-scrollbar-thumb,
.board__wrapper::-webkit-scrollbar-thumb {
  background-color: $color-dark-02;
  border-radius: $base;
}

.board__column::-webkit-scrollbar-track,
.board__wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 $base grey;
  border-radius: $base * 2;
  height: $base * 2;
  background-color: $color-grey-white;
}

.column__new-btn {
  height: fit-content;
}

.board__title__wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: $base * 2;
  width: max-content;
  text-align: center;

  .board__title {
    width: max-content;
    text-align: left;

    @media (max-width: $breakpoint-sm-min) {
      width: fit-content;
    }
  }

  .button__tertiary {
    width: max-content;

    @media (max-width: $breakpoint-sm-min) {
      width: $base * 10;
      height: $base * 10;
      background-color: $color-white;
      background-image: url('../../images/icons/plus.svg');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      border: none;
    }
  }

  .button__tertiary-description {
    @media (max-width: $breakpoint-sm-min) {
      display: none;
    }
  }
}
