@import '../../sass/Constants.scss';

.board__column-container {
  display: flex;
  row-gap: $base;
}

.board__column {
  display: flex;
  flex-direction: column;
  row-gap: $base * 2;
  flex-basis: 26%;
  min-width: $base * 50;
  overflow: auto;
  max-height: 72vh;
  margin-right: 0.063rem;
  margin-bottom: $base * 4;
  padding: $base * 2.2 0 $base * 2.2 $base * 2.2;
  border-top: 0.5rem solid $color-purple-09;
  border-radius: $base * 2;
  background-color: $color-white-07;
  box-shadow: 0.063rem 0.063rem 0.063rem $color-dark-05, 0 0 0.06em $color-dark-05,
    0 0 0.06em $color-dark-05;
  overflow-x: hidden;
}

.board__column-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: $base * 2;
  border-bottom: 0.063rem solid $color-dark-02;
  min-width: 100%;
  max-width: fit-content;

  .h4 {
    word-break: break-word;
    flex-basis: 85%;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.cards__list__container {
  @include scroll;
  overflow: auto;
  overflow-x: hidden;
}

.cards__list {
  display: flex;
  flex-direction: column;
  row-gap: $base * 4;
  padding: $base 0;
}

.task {
  @include flexSpaceBetween;
  gap: $base * 2;
  padding: $base * 4 $base;
  border: 0.063rem solid $color-dark-04;
  border-radius: $base;
  min-width: 100%;
  max-width: fit-content;
}

.task-checkbox {
  cursor: pointer;
}

.task-checkbox:checked + .task-text {
  text-decoration: line-through;
}

.task-text {
  position: relative;
  font-size: $fs-xl;
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
  cursor: pointer;
  transition: $transition-01;

  &::after {
    position: absolute;
    bottom: 0;
    left: -100%;
    content: '';
    width: 100%;
    height: 0.125rem;
    background-color: $color-purple;
    transition: $transition-01;
  }

  &:hover {
    &::after {
      left: 0;
      transition: $transition-01;
    }
  }
}

.column__btn {
  border: 0.063rem dotted $color-dark-03;
}
