@import '../../sass/Constants.scss';

.board__column-container {
  display: flex;
  // flex-direction: column;
  row-gap: $base;
}

.board__column {
  display: flex;
  flex-direction: column;
  row-gap: $base * 2;
  flex-basis: 26%;
  min-width: $base * 50;
  overflow: auto;
  max-height: 72vh;
  margin-right: 1px;
  padding: $base * 2.2 0 $base * 2.2 $base * 2.2;
  border-top: 8px solid $color-purple-09;
  border-radius: $base * 2;
  background-color: $color-white-07;
  box-shadow: 1px 1px 1px $color-dark-05, 0 0 0.06em $color-dark-05, 0 0 0.06em $color-dark-05;
}

.board__column-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: $base * 2;
  border-bottom: 1px solid $color-dark-02;
  min-width: 100%;
  max-width: fit-content;
  .h4 {
    word-break: break-word; 
    flex-basis: 85%;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.cards__list__container {
  @include scroll;
  overflow: auto;
}

.cards__list {
  display: flex;
  flex-direction: column;
  row-gap: $base * 4;
  padding: $base 0;
}

.task {
  @include flexStart;
  gap: $base * 2;
  padding: $base * 4 $base;
  border: 1px solid $color-dark-04;
  border-radius: $base;
  min-width: 100%;
  max-width: fit-content;
}

.task-checkbox:checked + .task-text {
  text-decoration: line-through;
}

.task-text {
  max-width: $base * 70;
  font-size: $fs-xl;
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
  flex-basis: 85%;
}

.column__btn {
  border: 1px dotted $color-dark-03;
}
