@import '../../sass/Constants.scss';

.board__columns {
  height: 100%;
  background-color: $color-purple-06;
}

.board__wrapper {
  @include scroll;
  align-items: flex-start;
  column-gap: $base * 3;
  padding-top: $base * 7;
  height: inherit;
  overflow-y: auto;
}

.board__column {
  display: flex;
  flex-direction: column;
  row-gap: $base * 2;
  flex-basis: 26%;
  padding: $base * 2.2;
  border-top: $base * 2 solid $color-purple-09;
  border-radius: $base * 2;
  min-width: $base * 50;
  max-height: 80%;
  height: auto;
  background-color: $color-white-07;
  overflow-y: auto;
}

.board__column {
  @include scroll;
}

.board__column-title {
  @include spartan;
  margin: 0;
  padding-bottom: $base * 2;
  font-size: $fs-m;
  font-weight: $fw-bold;
  line-height: $base * 4;
  letter-spacing: 0.06em;
  color: $color-dark;
  border-bottom: 1px solid $color-dark-02;
}

.cards__list {
  display: flex;
  flex-direction: column;
  row-gap: $base * 4;
  padding: $base 0;
}

.task {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $base * 2;
  width: 100%;
  padding: $base * 4 $base;
  border: 1px solid $color-dark-04;
  border-radius: $base;
}

.task-checkbox:checked + .task-text {
  text-decoration: line-through;
}

.task-text {
  font-size: $fs-xl;
  overflow: hidden;
  overflow-wrap: break-word;
}

.task-delete {
  font-size: $fs-xl;
  font-weight: $fw-bold;
  background-color: transparent;
  color: $color-error;
  border: none;
  cursor: pointer;
}

.column__btn {
  padding: $base * 3;
  border: 1px dotted $color-dark-03;
}

.column__new-btn {
  flex-basis: 10%;
}
