@import '../../sass/Constants.scss';

.boards {
  width: 80%;
  margin: 0 auto;
}

.h2 {
  text-align: center;
}

.task {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $base * 2;
  margin-top: $base;
}

.task-checkbox:checked + .task-text {
  text-decoration: line-through;
}

.task-text {
  font-size: $fs-xl;
}

.task-delete {
  font-size: $fs-xl;
  font-weight: $fw-bold;
  background-color: $color-white;
  color: $color-error;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
