@import '../../sass/Constants.scss';

.boards {
  padding: $base * 5 0;
  width: 80%;
  margin: 0 auto;
}

.boards__title {
  text-align: center;
}

.boards__container {
  @include flexSpaceBetween;
  flex-wrap: wrap;
  row-gap: $base * 4;
  padding: $base * 5 0;
}

.board__new {
  flex-basis: 30%;
  height: $base * 20;
}

.task {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: $base * 2;
  margin-top: $base;
}

.task-checkbox:checked + .task-text {
  text-decoration: line-through;
}

.task-text {
  font-size: $fs-xl;
}

.task-delete {
  font-size: $fs-xl;
  font-weight: $fw-bold;
  background-color: $color-white;
  color: $color-error;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
