@import '../../../sass/Constants.scss';

.btn-back__wrapper {
  @include flexCenter;
  gap: $base;
  width: $base * 20;
  padding: $base;
  background-color: $color-white;
  border: none;
  border-radius: $base;
  cursor: pointer;

  @media (max-width: $breakpoint-lg-min) {
    width: auto;
    height: auto;
  }

  &:hover {
    .btn-back {
      filter: brightness(0.7);
      transition: $transition-01;
    }

    .btn-new {
      filter: brightness(0.7);
      transition: $transition-01;
    }
  }
}

.btn-back-common {
  width: $base * 5;
  height: $base * 5;
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transition: $transition-01;

  @media (max-width: $breakpoint-lg-min) {
    width: $base * 7;
    height: $base * 7;
    background-size: 100%;
  }
}

.btn-back {
  background-image: url('../../../images/icons/back.svg');
}

.btn-new {
  background-image: url('../../../images/icons/plus.svg');
}

.btn-back-description {
  @include poppins;
  width: min-content;
  font-weight: $fw-medium;
  text-decoration: none;

  @media (max-width: $breakpoint-lg-min) {
    display: none;
  }
}
