@import '../../sass/Constants.scss';

.user-profile {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: $base * 6;
  width: $base * 130;
  margin: $base * 10 auto $base * 10;
  padding: $base * 6;
  border: 0.063rem solid $color-dark;
  border-radius: $base;
  font-size: $fs-xxxl;

  .user-profile__button {
    width: 50%;
    margin: 0 auto;
    font-size: $fs-xxl;
    background-color: $color-white;
    border: 0.125rem solid $color-dark;
    border-radius: $base;
    transition: $transition linear;

    &:hover {
      border-radius: $base * 3;
      box-shadow: inset 0px 0px $base * 4 rgb(201, 255, 209);
      cursor: pointer;
    }
  }
}
