.signup {
  width: 650px;
  margin: 50px auto 50px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 30px;
  display: grid;
  font-size: 32px;

  .form__title {
    font-size: 50px;
    margin: 0 auto;
    color: rgb(0, 255, 170);
  }

  .form__nickname,
  .form__password {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  .signup__password,
  .signup__name {
    padding: 0 10px;
    font-size: 32px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    height: 50px;
  }

  .form__error {
    font-size: 26px;
    color: rgb(216, 0, 0);
    margin-top: 10px;
  }

  @media (max-width: 700px) {
    width: 400px;

    .signup__name,
    .signup__password {
      font-size: 26px;
    }
  }

  @media (max-width: 550px) {
    width: 95vw;
    padding: 10px;
  }

  .form__submit {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 26px;
    margin: 0 auto;
    width: 50%;
    transition: 0.3s linear;

    &:hover {
      // border: 4px solid rgb(255, 255, 255);
      border-radius: 15px;
      box-shadow: inset 0px 0px 20px rgb(201, 255, 209);
      cursor: pointer;
    }
  }
}