@import '../../sass/Constants.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: $transition;
  pointer-events: none;
  z-index: 50;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  .modal__content {
    padding: $base * 10 $base * 4 $base * 4;
    border-radius: $base * 3;
    background-color: rgb(255, 255, 255);
    transform: scale(0.5);
    width: 60%;
    height: 60vh;
    transition: $transition all;

    @media (max-width: 1200px) {
      width: 70vw;
    }

    @media (max-width: 700px) {
      width: 90vw;
    }

    &.active {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      opacity: 1;
      pointer-events: all;
      transform: scale(1);
    }
  }

  .modal__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .modal__img {
    flex-basis: 44%;
    height: auto;
    background: url('../../images/confirmation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(255, 255, 255);
    background-position: center;
    border-radius: 15px 0 0 15px;
  }

  .modal__text {
    padding: 50px 20px 20px;
    flex-basis: 40%;
    text-align: end;
  }

  .modal__close {
    position: absolute;
    top: $base;
    right: $base * 2;
    font-size: $base * 6;
    transition: $transition linear;
    cursor: default;

    &:hover {
      transform: rotate(90deg);
    }

    &:active {
      transform: scale(0.8);
    }
  }
}
