@import '../../../sass/Constants.scss';

.header {
  position: sticky;
  padding: $base * 4 0;
  top: 0;
  width: 100%;
  height: auto;
  backdrop-filter: blur($base * 2);
  background: $color-grey-white;
  transition: $transition;
  z-index: 3;
}

.header__wrapper {
  justify-content: space-between;
}

.header__logo__wrapper {
  display: flex;
  align-items: center;
}

.boards-logo__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $base;
  padding: $base;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    .boards-logo {
      filter: brightness(0.9);
      transition: $transition;
    }
  }
}

.boards-logo {
  width: $base * 5;
  height: $base * 5;
  background-color: transparent;
  background-image: url('../../../images/icons/boards.svg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transition: $transition;
}

.boards-logo-description {
  font-weight: $fw-medium;
}

.header-scrolled {
  padding: $base * 3 0;
  background: $color-grey-07;
  box-shadow: 0 $base * 0.1 $base * 3 $color-dark-02;
}

.header__logo-img {
  width: $base * 20;
  height: auto;
  transition: $transition;
}

.header__logo {
  display: flex;
  align-items: center;
  padding-right: $base * 2;
  cursor: pointer;

  &:hover {
    .header__logo-img {
      transform: scale(1.05);
      transition: $transition;
    }
  }
}

.header__navigation {
  display: flex;
  justify-content: flex-end;
}

.header__buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: $base * 4;
  flex-wrap: wrap;
}
