@import '../../../sass/Constants.scss';

.button__tertiary {
  @include poppins;
  width: auto;
  padding: $base $base * 2;
  color: $color-dark-09;
  background-color: $color-grey-07;
  border-width: 1px;
  border-style: solid;
  border-color: $color-dark-09;
  border-radius: $base;
  cursor: pointer;
  transition: $transition;

  &:hover {
    color: $color-dark;
    border-color: $color-dark;
    filter: brightness(0.8);
    transition: $transition;
  }

  @media (max-width: $breakpoint-sm-min) {
    width: $base * 7;
    height: $base * 7;
    background-color: transparent;
    background-image: url('../../../images/icons/plus.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }
}

.button__tertiary-description {
  @media (max-width: $breakpoint-sm-min) {
    display: none;
  }
}
