@import '../../sass/Constants.scss';

.main {
  background-color: $color-grey-white;
}

.welcome__page {
  @include flexCenter;
  flex-direction: column;
  gap: $base * 3;
  width: 80%;
  margin: 0 auto $base * 3 auto;

  @media (max-width: $breakpoint-lg-min) {
    width: 97%;
  }

  .h2 {
    margin-top: $base * 2;
    font-size: $fs-xxxxl;

    @media (max-width: $breakpoint-lg-min) {
      font-size: $fs-xxxl;
    }

    @media (max-width: $breakpoint-md-min) {
      font-size: $fs-xxl;
    }
  }
}

.welcome__container {
  @include flexSpaceBetween;
  flex-wrap: wrap;
  gap: $base * 4;
  width: 100%;
  margin-bottom: $base * 4;

  @media (max-width: $breakpoint-lg-min) {
    justify-content: center;
  }
}
