@import '../../sass/Constants.scss';

.main {
  background-color: $color-grey-white;
}

.welcome-page {
  .h2 {
    @include disableSelection;
    margin-top: $base * 10;
    margin-bottom: $base * 10;
    font-size: $fs-xxxxl;
    text-shadow: 0.063rem 0.063rem 0.063rem $color-purple, 0 0 0.06em $color-purple,
      0 0 0.06em $color-purple;

    @media (max-width: $breakpoint-lg-min) {
      font-size: $fs-xxxl;
    }

    @media (max-width: $breakpoint-md-min) {
      font-size: $fs-xxl;
    }
  }

  .welcome-page__title {
    font-size: $base * 11;
    line-height: $base * 15;
    margin-bottom: $base * 3;
  }

  .welcome-page__subtitle {
    margin-bottom: $base * 3;
  }
  
  .welcome-page__content {
    padding: $base * 25 0;
    width: 50%;
    margin-right: auto;
    color: white;

    @media (max-width: $breakpoint-sm-min) {
      width: 90%;
      margin: auto;
      text-align: center;
    }
  }

  .welcome-page__promo {
    background: #0a1e3f;
    background-image: url('../../images/YFNLt5hMncNXRFTyJMBGis_ri01GarCduTNi4PLDKgcMxFbphXYXLyaWJDNkFmu.jpg');
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: contain;
    box-shadow: 0px -24px 74px 115px rgb(10 30 63);

    @media (max-width: $breakpoint-lg-min) {
      background-position: 10rem center;
    }

    @media (max-width: $breakpoint-sm-min) {
      background: #0a1e3f;
    }
  }
}

.team {
  @include flexCenter;
  flex-direction: column;
  gap: $base * 3;
  width: 80%;
  margin: 0 auto $base * 3 auto;

  @media (max-width: $breakpoint-lg-min) {
    width: 97%;
  }
}

.welcome__container {
  @include flexSpaceBetween;
  flex-wrap: wrap;
  gap: $base * 4;
  width: 100%;
  margin-bottom: $base * 4;

  @media (max-width: $breakpoint-lg-min) {
    justify-content: center;
  }
}
