@import '../../../sass/Constants.scss';

.footer {
  padding: $base * 2 0;
  width: 100%;
  height: auto;
  background: $color-dark-02;
}

.footer__wrapper {
  @include flexSpaceBetween;
  column-gap: $base;
}

.footer__info {
  @include flexCenter;
  gap: $base * 2;
  flex-wrap: wrap;

  @media (max-width: $breakpoint-xs-min) {
    gap: $base;
  }
}

.footer__link {
  display: block;
  width: 100%;
  height: inherit;
  background-size: cover;
}

.footer__logo {
  width: $base * 15;
  height: $base * 5;
}

.footer__logo-link {
  background-image: url('../../../images/icons/rs_school_logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: $transition;

  &:hover {
    transform: scale(1.02);
    transition: $transition;
  }
}

.footer__team {
  @include flexEnd;
  flex-direction: column;
  align-items: flex-end;
  column-gap: $base * 3;
  row-gap: $base * 2;
}

.footer__title {
  @include poppins;
  font-size: $fs-m;
  font-weight: $fw-medium;
  text-align: end;
  text-transform: uppercase;
}

.footer__contacts {
  @include flexCenter;
  column-gap: $base * 3;

  @media (max-width: $breakpoint-xs-min) {
    column-gap: $base * 2;
  }
}

.footer__contact {
  width: $base * 7;
  height: $base * 7;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  transform: scale(1);
  transition: $transition;

  &:hover {
    box-shadow: 0 0 0 0.3rem $color-yellow-dark;
    background-color: $color-yellow;
    transform: scale(1.2);
    transition: $transition;
  }

  @media screen and (max-width: $breakpoint-xs-min) {
    width: $base * 5;
    height: $base * 5;
  }
}

.contact-1 {
  background-image: url('../../../images/avatar-1.jpg');
}

.contact-2 {
  background-image: url('../../../images/avatar-2.jpg');
}

.contact-3 {
  background-image: url('../../../images/avatar-3.jpg');
}

.footer__year {
  @include poppins;
  @include disableSelection;
  font-size: $fs-xxl;
  font-weight: $fw-medium;

  @media (max-width: $breakpoint-xs-min) {
    font-size: $fs-l;
  }
}
