@import '../../sass/Constants.scss';

.signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: $base * 2 auto;
  padding: $base * 2;
  font-size: $fs-xxxl;
  border-radius: $base * 3;
  box-shadow: 1px 1px 1px $color-sale, 0 0 0.06em $color-dark, 0 0 0.06em $color-dark;

  .form__title {
    @include disableSelection;
    font-size: $fs-xxxxl;
    font-weight: $fw-bold;
    line-height: $base * 10;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px $color-sale, 0 0 0.06em $color-blue-light, 0 0 0.06em $color-blue-light;
    color: $color-purple;
  }

  .form__nickname,
  .form__password {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .signup__password,
  .signup__name {
    padding: 0 $base * 2;
    font-size: $fs-xxxl;
    background-color: $color-white;
    border: 1px solid $color-dark;
    height: $base * 10;
  }

  .form__error {
    font-size: $fs-xxl;
    color: $color-error;
    margin-top: $base * 2;
  }

  @media (max-width: 700px) {
    width: $base * 80;

    .signup__name,
    .signup__password {
      font-size: $fs-xxl;
    }
  }

  @media (max-width: 550px) {
    width: 95vw;
    padding: $base * 2;
  }

  .form__submit {
    background-color: $color-white;
    border: 2px solid $color-dark;
    border-radius: $base;
    font-size: $fs-xxl;
    width: 50%;
    margin: 0 auto;
    transition: $transition linear;

    &:hover {
      border-radius: $base * 3;
      box-shadow: inset 0px 0px $base * 4 rgb(201, 255, 209);
      cursor: pointer;
    }
  }
}
