@import '../../sass/Constants.scss';

.signup {
  width: $base * 130;
  margin: $base * 10 auto $base * 10;
  border: 1px solid rgb(0, 0, 0);
  border-radius: $base;
  padding: $base * 6;
  display: grid;
  font-size: $fs-xxxl;

  .form__title {
    font-size: $base * 10;
    margin: 0 auto;
    color: rgb(101, 81, 243);
  }

  .form__nickname,
  .form__password {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .signup__password,
  .signup__name {
    padding: 0 $base * 2;
    font-size: $fs-xxxl;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    height: $base * 10;
  }

  .form__error {
    font-size: $fs-xxl;
    color: rgb(216, 0, 0);
    margin-top: $base * 2;
  }

  @media (max-width: 700px) {
    width: $base * 80;

    .signup__name,
    .signup__password {
      font-size: $fs-xxl;
    }
  }

  @media (max-width: 550px) {
    width: 95vw;
    padding: $base * 2;
  }

  .form__submit {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: $base;
    font-size: $fs-xxl;
    margin: 0 auto;
    width: 50%;
    transition: 0.3s linear;

    &:hover {
      // border: 4px solid rgb(255, 255, 255);
      border-radius: $base * 3;
      box-shadow: inset 0px 0px $base * 4 rgb(201, 255, 209);
      cursor: pointer;
    }
  }
}
