@import './sass/Constants.scss';

// === FONTS ===

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('./fonts/#{$file_name}.woff') format('woff'),
      url('./fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import './sass/Fonts.scss';

// === / FONTS ===

html,
body {
  @include spartan;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
}

body {
  @include scroll;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main {
  flex-grow: 1;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;

  @media screen and (max-width: $breakpoint-xs-min) {
    width: 95%;
  }
}
